body { 
    font-family: "72", Arial, sans-serif; 
}

.customSwitch.sapMSwtOn .sapMSwtHandle:before {
  content: "\e065"; /* Sun icon (sap-icon://lightbulb) */
  font-family: "SAP-icons";
}

.customSwitch.sapMSwtOff .sapMSwtHandle:before {
  content: "\e02f"; /* Moon icon (sap-icon://bed) */
  font-family: "SAP-icons";
}

.skillHeaderTextClass {
        font-size: 1px;
        font-weight: bolder;
        text-align: center;
    }
.bulletPoint {
  text-indent: -10px;
  text-align: justify;
}
.subBulletPoint {
  padding-left: 30px;
  text-indent: -10px;
  padding-top: 0%;
  text-align: justify;
}    
.textJustify {
  text-align: justify;
}

.logo {
  width: 130px;
  height: 75px;
  object-fit: contain;

}
.clientlogo {
  width: 130px;
  height: 75px;
  object-fit: contain;
  mix-blend-mode: multiply;
}